/* @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https: //fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Colfax:400,600,700,800'); */


.dropdown-style {
    /* background-color: #fff;
    border-radius: 4px; */
    border: 1px solid #eeeeef;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    color: #6e6e80;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px;
    width: 100%; */
}

.mx-5 {
    margin-right: 18rem !important;
    margin-left: 18rem !important;
}


.mx-6 {
    margin-right: 40rem !important;
    margin-left: 40rem !important;
}


/* For screens smaller than 1200px */
@media (max-width: 1199px) {
    .mx-5 {
        margin-right: 10rem !important;
        margin-left: 10rem !important;
    }
}

/* For screens smaller than 992px */
@media (max-width: 991px) {
    .mx-5 {
        margin-right: 5rem !important;
        margin-left: 5rem !important;
    }
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
    .mx-5 {
        margin-right: 2rem !important;
        margin-left: 2rem !important;
    }
}

.my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.card {
    overflow: hidden;
    --bs-card-spacer-x: .8rem !important;
}

.card-img {
    height: 350px;
    object-fit: cover;
}

.card-img-small {
    height: 320px;
    object-fit: cover;
}

.card-img-smallest {
    height: 160px;
    object-fit: cover;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.card-body {
    flex: 1 1 auto;
    /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
    color: var(--bs-card-color);
}

.modal-body-modals {
    font-family: 'Open Sans';
    font-size: 16px;
}

.modal-body {
    padding: 2rem;
}

.footer-container {
    width: 100%;
    margin: 50px auto 0;
    background-color: #f7f7f8;
    height: 200px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 44px;
    margin-top: 24px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    display: flex;
    align-items: center;
    margin: 0;
}

.footer-item {
    margin-left: 20px;
    text-align: center;
}

.icon-item-icon {
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans bold';
    font-style: normal;
    /* font-weight: 1000; */
    src: url('fonts/Open_Sans/static/Open_Sans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Colfax/ColfaxAIRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    /* font-weight: 1000; */
    src: url('fonts/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    src: url('fonts/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #6e6e80;
}

/* .collapse-transition {
	transition: max-height 1.4s ease-in-out;
} */

.default-modal-css {
    background-color: white !important;
}

.code-docs {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background-color: rgb(247, 247, 248);
}


h1 {
    font-family: 'Colfax', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #202123;
}


h2 {
    font-family: 'Colfax', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #202123;
}

h3 {
    font-family: 'Colfax', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #202123;
}

h4 {
    font-family: 'Colfax', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #202123;
}

h5 {
    font-family: 'Colfax', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #202123;
}

h6 {
    font-family: 'Colfax', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #6e6e80;
}

p {
    font-size: 13px;
}

span {
    font-family: 'Colfax', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6e6e80;
}


.app-header {
    align-items: center;
    background-color: white !important;
    border-bottom: 1px solid #dedee3;
    display: flex;
    height: 3.4rem;
    justify-content: space-between;
    overflow: auto;
    /*padding: 0 24px;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


.button-primary {
    font-size: 14px;
    padding: 6px 12px;
    color: #6e6e80;
    background-color: #dedee3;
    border-radius: 4px;
    border: 1px solid #dedee3;
}

.btn-primary {
    font-size: 10px;
    /* padding: 6px 12px; */
    color: black;
    background-color: #dedee3;
    border-radius: 4px;
    border: 1px solid #dedee3;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}


.modal-header {
    /* background-image: url('../static/images/OIG (1).jpg'); */
    background-size: cover;
    background-position: center;
}

.modal-title {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #202123;
    background-color: #fff;
}

.modal-description {
    font-family: 'Colfax', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #202123;
    background-color: #fff;
}

.icon-item {
    cursor: pointer;
    display: flex;
    min-width: 0;
    align-content: center;
    width: 54px;
    height: 54px;
}


.icon-item-icon {
    border-radius: 4px;
    color: #fff;
    flex: 0 0 auto;
    font-size: 24px;
    line-height: 0px;
    padding: 15px;
}


.icon-item-tag {
    background-color: #ececf1;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin-left: 12px;
    padding: 0 4px;
}

.item-tag {
    border-radius: 3px;
    border-color: #cecedb;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-right: 4px;
    padding: 1px 6px;
}

.row > * {
    padding-left: calc(var(--bs-gutter-x) * .4) !important;
    /*padding-right: calc(var(--bs-gutter-x) * .4) !important;*/
}

/*.w-screen {*/
/*    width: 98vw;*/
/*}*/

/*
.sidebar-login {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    z-index: 1050;
    transition: width 0.1s ease-in-out;
    margin-left: 1rem;
}
*/

.sidebar-login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    z-index: 1050;
    transition: width 0.1s ease-in-out;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


/* This creates a skinny side bar fixed to the left of the page */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5rem;
    padding: 1rem 1rem;
    background-color: #ffffff;
    z-index: 1050;
    transition: width 0.1s ease-in-out;
}

/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
    width: 16rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* fix the width of the icons */
.sidebar .nav-link i {
    width: 1rem;
}

/* hide the navlink labels by default */
.sidebar .nav-link span {
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav-link span {
    visibility: visible;
    opacity: 1;
    color: black;
}

/* container for the sidebar header. make sure the contents don't wrap when
 * the sidebar is collapsed.
 */
.sidebar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

/* position the header relative to the logo and hide by default */
.sidebar-header h2 {
    opacity: 0;
    margin-left: 1rem;
    margin-bottom: 0;
    transition: opacity 0.1s ease-in-out;
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header h2 {
    opacity: 1;
}

/* position the content relative to the collapsed sidebar */
.content {
    margin-left: 7rem;
    margin-right: 2rem;
    padding: 2rem 1rem;
}

.sidebar-header-separator {
    margin-left: 1rem;
}

.ms-2 {
    font-size: 9px;
}

.diagonal-pattern {
    background: repeating-linear-gradient(
            45deg,
            #f5f5f5,
            #f5f5f5 5px,
            #e8e8e8 5px,
            #e8e8e8 10px
    );
}

.sidebar-subitem {
    font-size: 12px;
    font-weight: 400;
    color: #1c1c1c;
}


/*
STYLE CHAT
*/

.default-modal-css {
    background-color: white !important;
}

.code-docs {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background-color: rgb(247, 247, 248);
}


.green-gradient-bg {
    display: flex;
    align-items: center;
    align-self: start;
    /* margin: 10px; */
    width: 54px;
    height: 54px;
    background: linear-gradient(to bottom right, #27b50e, #2ee5b7);
    border-radius: 4px;

}


.blue-gradient-bg {
    display: flex;
    align-items: center;
    align-self: start;
    /* margin: 10px; */
    width: 54px;
    height: 54px;
    background: linear-gradient(to bottom right, #1c8cff, #00c6ff);
    border-radius: 4px;
}

.red-gradient-bg {
    display: flex;
    align-items: center;
    align-self: start;
    /* margin: 10px; */
    width: 54px;
    height: 54px;
    background: linear-gradient(to bottom right, #ff0000, #ff5e00);
    border-radius: 4px;
}

.purple-gradient-bg {
    display: flex;
    align-items: center;
    align-self: start;
    /* margin: 10px; */
    width: 54px;
    height: 54px;
    background: linear-gradient(to bottom right, #8a2be2, #4b0082);
    border-radius: 4px;
}

.yellow-gradient-bg {
    display: flex;
    align-items: center;
    align-self: start;
    /* margin: 10px; */
    width: 54px;
    height: 54px;
    background: linear-gradient(to bottom right, #ffd700, #ff8c00);
    border-radius: 4px;
}

.pink-gradient-bg {
    display: flex;
    align-items: center;
    align-self: start;
    /* margin: 10px; */
    width: 54px;
    height: 54px;
    background: linear-gradient(to bottom right, #ff69b4, #ff1493);
    border-radius: 4px;
}

/* *,
:after,
:before {
    box-sizing: border-box;
} */

/* .div {
    display: block;
    margin: 0px;
} */


.icon-item {
    /* align-items: flex-start; */
    /* border-radius: 4px; */
    cursor: pointer;
    display: flex;
    min-width: 0;
    align-content: center;
    /* fill: white; */
    width: 54px;
    height: 54px;
    /* transition: opacity .15s; */
}


.icon-item-icon {
    border-radius: 4px;
    color: #fff;
    flex: 0 0 auto;
    font-size: 24px;
    line-height: 0px;
    padding: 15px;
}


/*
svg path {
  fill: white;
} */


.icon-item-tag {
    background-color: #ececf1;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin-left: 12px;
    padding: 0 4px;
}

.item-tag {
    /* background-color: #ececf1; */
    border-radius: 3px;
    border-color: #cecedb;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 16px; */
    /* margin-left: 12px; */
    margin-right: 4px;
    padding: 1px 6px;
}


.search-input {
    /* background-color: #ececf1; */
    /* border-radius: 4px; */
    border: 1px solid #ececf1;
    color: #6e6e80;
    font-size: 14px;
    font-weight: 400;
    /* height: 36px; */
    /* line-height: 36px; */
    /* margin-left: 12px; */
    /* padding: 0 12px; */
    /* width: 100%; */
}


.query-input {
    background-color: #f7f7f8;
    border-radius: 4px;
    border: 0px solid #ececf1;
    color: #202123;
    font-size: 14px;
    font-weight: 400;
    height: 75px;
    /* line-height: 20px; */
    /* margin-left: 12px; */
    padding: 6px 12px;
    width: 100%;
    resize: vertical;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    display: block;
    overflow-y: auto;
}

.query-input:focus {
    background-color: #f7f7f8;
    border-radius: 4px;
    border: 1.5px solid #292929;
    outline: none;
    color: #202123;
    font-size: 14px;
    font-weight: 400;
    height: 75px;
    /* line-height: 20px; */
    /* margin-left: 12px; */
    padding: 6px 12px;
    width: 100%;
    resize: vertical;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    display: block;
    overflow-y: auto;
}

.response-area {
    background-color: #ffead2;
    border-radius: 4px;
    border: 0px solid #ececf1;
    color: #202123;
    font-size: 14px;
    font-weight: 400;
    height: 75px;
    /* line-height: 20px; */
    /* margin-left: 12px; */
    padding: 6px 12px;
    width: 100%;
    resize: vertical;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    display: block;
    overflow-y: auto;
}


.markdown-code {
    background-color: #f8f8f8;
    color: #333;
    padding: 0.5em;
    font-size: 16px;
    font-family: monospace, "Roboto Mono", Menlo, Courier;
    border-radius: 4px;
}

.progress-bar {
    height: 2rem;
    background: transparent;

}

.map-size {
    height: 40rem;
    width: 100%;
}
